APP_EXTERNAL_BASE_URL=
NTFY_SERVER_URL=

NTFY_ERRORS_TOPIC=
NTFY_ERRORS_TOPIC_ENABLED=

NTFY_GARBAGE_COLLECTION_TOPIC=
NTFY_GARBAGE_COLLECTION_TOPIC_ENABLED=

NTFY_ADHOC_TOPIC=
NTFY_ADHOC_TOPIC_ENABLED=