APP_EXTERNAL_BASE_URL=http://<Your PC IP address>:9999
NTFY_SERVER_URL=https://ntfy.sh

NTFY_ERRORS_TOPIC=
NTFY_ERRORS_TOPIC_ENABLED=true

NTFY_GARBAGE_COLLECTION_TOPIC=
NTFY_GARBAGE_COLLECTION_TOPIC_ENABLED=false

NTFY_ADHOC_TOPIC=
NTFY_ADHOC_TOPIC_ENABLED=true

GMAIL_CREDENTIALS_FILE=/secrets/google-credentials.json
GMAIL_TOKEN_DIRECTORY=/app/data/gmail
GMAIL_SENDER=<user>@<domain>.com
GMAIL_AUTH_CALLBACK_BASE_URL=http://localhost:9999